@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* {
    font-family: 'Comic Neue',
        cursive;
    margin: 0;
    padding: 0;
    user-select: none;
}

a {
    text-decoration: none;
    color: initial;
}

html,
body {
    height: 100%;
    background-color: white;
}



.container {
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    width: 100%;
    padding: 50px 0;
    justify-content: space-around;
    align-items: center;
}

#logo img {
    width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}


nav ul li {
    padding: 20px;
}


.nav-item::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}



.nav-item:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-item::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: black;
    z-index: -1;
    transition: transform .3s ease;

}

.more-info {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 5%;
    flex-direction: column;
}

.btn {
    padding: 30px 50px;
    width: 200px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
    /* background-color: black; */
    /* color: white; */
    z-index: 5;
}

.btn:hover {
    border: 0.2px solid black;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 5px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: green;
}

input:focus+.slider {
    box-shadow: 0 0 1px green;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}